.container{
    font-size: 30px;
    color: lightblue;
    background-color: black;
    border: 1px solid red;
    border-radius: 20px;
}
#centered{
    /* width: 50%;
    margin: auto; */
    text-align: center;
}

#top_left{
    background-color: blue;
    border: 1px white solid;
    position: absolute;
    width: 200px;
    height: 200px;
}
#bottom_right{
    background-color: white;
    color: blue;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 5;
    /* element with greater z-index will appear first */
}
#fixed_position{
    position: fixed;
    background:black;
    color: white;
}
#relative_1{
    background-color: burlywood;
    color: brown;
    border: 3px solid brown;
    position: relative;
    height: 100px;
}
#relative_2{
    background-color: yellow;
    color: blue;
    position: relative;
    left: 70px;
    top: 30px;
}
ol{
    width: 40px;
    padding: 10px;
    margin: 100px auto;
    background: black;
    color: lightcoral;
    overflow: scroll;
}